# 编译产物
build/
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.order
*.symvers
.modules.cmd
*.cmd
Module.symvers
.tmp_versions/

# 各章可执行文件（由 Makefile 生成）
chap01/sysinfo
chap02/mini_init
chap02/initramfs.cpio.gz
chap03/fork_demo
chap03/pipe_demo
chap03/thread_demo
chap03/mmap_shared
chap04/malloc_demo
chap04/mmap_demo
chap04/maps_dump
chap04/segv_demo
chap04/mmap_cow
chap05/io_demo
chap05/sync_demo
chap05/seek_demo
chap05/o_direct_demo
chap06/chardev_test
chap06/*.ko
chap07/echo_server
chap07/echo_client
chap08/raw_syscall
chap09/print_ids
chap09/setuid_demo
chap09/keepcaps_demo
chap09/secure_file
